.blog {
    background-color: var(--main-page-background-color);
    background-image: url(../img/blog/background-elements.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 0 ;
}

.blog .container {
    padding: 0 24px;
}

.blog__header {
    text-align: center;
    color: var(--title-color);
    margin-bottom: 45px;
}

.blog__title {
    font-family: Leckerli One, cursive;
    font-size: 1.06rem;
    line-height: 17px;
    margin-bottom: 20px;
}

.blog__subtitle {
    font-family: Dangrek, cursive;
    font-size: 2.56rem;
    line-height: 45px;
    margin-bottom: 25px;
}

.blog__advice {
    color: var(--subtitle-color);
    font-family: Source Sans, sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 30px;
}

.blog__acticles-overview {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.blog__acticles-overview img {
    border-radius: 6px;
}

.blog__article {
    max-width: 345px;
    margin-bottom: 30px;
}

.blog__article-title {
    font-family: Dangrek, cursive;
    font-size: 1.37rem;
    line-height: 28.6px;
    color: var(--title-color);
    margin: 20px 0;
}

.blog__article-text {
    font-family: Source Sans, sans-serif;
    font-size: 1.13rem;
    line-height: 29px;
    color: var(--text-color);
    margin-bottom: 35px;
}

.wave-img {
    height: 75px;
}

@media(min-width: 800px) {
    .blog__acticles-overview {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

