.header {
    background: var(--contacts-bg-header-color);
    padding: 1.5rem;
    padding-top: 1rem;
  }
  
.contacts__title {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 55px;
}

.contacts__title-text {
    font-family: "Dangrek", cursive;
    font-size: 2.125rem;
    color: var( --contacts-text-color);
    font-weight: 400;
    line-height: 37.4px;
}