@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Leckerli+One&family=Source+Sans+3:wght@400;500&family=Source+Sans+Pro:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-color: #32264b;
    --main-page-background-color: #493b5f;
    --title-color: #fff;
    --subtitle-color: #e1dde8;
    --text-color: #b9b1c5;
    --button-additional-color: #ffc452;
    --button-text-color: #fff;
    --button-additional-color: #ffc452;
    --button-hover: #6D3D61;
    --price-color: #ffc452;
    --footer-additional-color: #ffc452;
    --about-us-background-color: #b87390;
    --about-us-main-color: #a55376;
    --about-us-subtitle-color: #f0f0f0;
    --about-us-texr-color: #e0dddd;
    --menu-background-color: #6382a7;
    --menu-main-color: #537398;
    --menu-subtitle-color: #ececf2;
    --menu-text-color: #c3c4cE;
    --contacts-background-color: #f8b83d;
    --cotacts-main-color: #ffc452;
    --contacts-text-color: #fff;
    --tastes-description-color: #a6a6a6;
    --tastes-carousel-arrows-color: #000;
    --btn-secondary-hover-bg-color: #eab754;
    --mask-color: rgba(255, 255, 255, 0.3);
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}

a {
    text-decoration: none;
}

.main-btn {
    display: flex;
    justify-content: center;
    background-color: var(--brand-color);
    padding: 15px 30px;
    width: 140px;
    height: 50px;
    border-radius: 27px;
    cursor: pointer;
}

.main-btn:hover {
    background-color: var(--button-hover);
    transition: 0.2s;
}

.main-btn__text {
    text-decoration: none;
    color: var(--button-text-color);
    font-family: "Source Sans Pro";
    font-size: 0.94rem;
    align-self: center;
}

.mask-additional-button {
    border-radius: 27px;
}

.mask-additional-button__block {
    width: 160px;
    height: 50px;
    background-color: var(--button-additional-color);
    border-radius: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.mask-additional-button__block:hover {
    background-color: var(--btn-secondary-hover-bg-color);
}

.block__text-style {
    color: var(--button-text-color);
    font-size: 0.94rem;
    font-family: "Source Sans Pro";
}

.mask-additional-button:hover {
    background-color: var(--mask-color);
    opacity: 0.9;
    transition: 0.2s;
}