.header {
    background: url(../img/header/header-background.png);
    background-size: cover;
    background-position: center;
    padding: 1.5rem;
    padding-top: 1rem;
}
.main-page-text{
    text-align: left;
    align-items: start;
}

.main-page {
    padding-top: 7rem;
}

.header__nav-image {
    width: 129px;
}

.header__nav-left {
    display: none;
}

.header__nav-right {
    display: none;
}

.main-page__btn-flex {
    display: flex;
    flex-direction: column;
}

@media (min-width: 367px) {
    .main-page__btn-flex {
        flex-direction: row;
    }

    .main-page__btn-flex div:nth-child(1) {
        margin-right: 10px;
    }
}

.main-page__our-menu-button,
header .mask-additional-button__block {
    height: 3.7rem;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 32px;
}

.nav-link {
    font-family: "Source Sans 3", sans-serif;
    font-size: 1.0625rem;
    color: var(--subtitle-color);
}

.animated-icon {
    width: 25px;
    height: 20px;
    position: relative;
    margin: 0px;
    cursor: pointer;
}

.animated-icon span {
    background: var(--title-color);
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
}

.animated-icon span:nth-child(1) {
    top: 0px;
}

.animated-icon span:nth-child(2),
.animated-icon span:nth-child(3) {
    top: 7px;
}

.animated-icon span:nth-child(4) {
    top: 14px;
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
}

.header a {
    letter-spacing: 0.495px;
    font-size: 1.03125rem;
}

.navbar {
    text-align: center;
}