.overview-menu {
	font-family: Dangrek, cursive;
	background-color: var(--main-page-background-color);
	min-width: 320px;
	min-height: 761px;
	padding: 65px 0px 65px;
}
.overview-menu__block {
	box-sizing: border-box;
	border-radius: 5px;
	min-width: 272px;
	min-height: 178px;
	margin: 0px 25px 50px 25px;
	background: url(../img/overview-menu-photo/dessert_photo.png) 52.6% 32.25% / cover no-repeat;
}
.overview-desserts {
	text-align: center;
	margin: 0 auto;
}
.overview-desserts__text {
	display: flex;
	justify-content: center;
	position: relative;
	top: 10px;
	font-size: 30px;
	color: var(--title-color);
}
.overview-desserts .main-btn {
	margin: 0 auto;
	display: block;
	justify-content: center;
	flex-direction: column;
	align-items: flex-end;
	position: relative;
	top: 60px;
}
.main-btn__text {
}

.overview-menu__block-shakes {
	box-sizing: border-box;
	border-radius: 5px;
	min-width: 272px;
	min-height: 178px;
	margin: 0px 25px 50px 25px;
	background: url(../img/overview-menu-photo/milk_shakes.png) 50.1% 62.75% / cover no-repeat;
}
.milk-shakes {
	text-align: center;
	margin: 0 auto;
}
.overview-menu__shakes-text {
	font-size: 30px;
	color: var(--title-color);
	position: relative;
	top: 20px;
}
.milk-shakes .main-btn {
	margin: 0 auto;
	display: block;
	justify-content: center;
	flex-direction: column;
	align-items: flex-end;
	position: relative;
	top: 60px;
	background-color: #a55376;
}
.overview-menu__ice-cream {
	box-sizing: border-box;
	border-radius: 5px;
	min-width: 272px;
	min-height: 178px;
	margin: 0px 25px 50px 25px;
	background: url(../img/overview-menu-photo/ice_cream.png) 58.23% 61.54% / cover no-repeat;
}
.ice-cream {
	text-align: center;
	margin: 0 auto;
}
.overview-menu__ice-cream-text {
	font-size: 30px;
	color: var(--title-color);
	position: relative;
	top: 20px;
}

.ice-cream .main-btn {
	margin: 0 auto;
	display: block;
	justify-content: center;
	flex-direction: column;
	align-items: flex-end;
	position: relative;
	top: 60px;
}

@media (min-width: 750px) {
	.overview-menu__section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.overview-menu__block,
	.overview-menu__block-shakes,
	.overview-menu__ice-cream {
		height: 450px;
	}
}

@media (min-width: 950px) {
	.overview-menu__section {
		display: flex;
		flex-direction: row;
		
	}
	.overview-menu__block,
	.overview-menu__block-shakes,
	.overview-menu__ice-cream {
		height: 460px;
		
	}
}
@media (min-width: 1000px) {
	.overview-menu__section {
	  display: flex;
	  flex-direction: row;
	  justify-content: center;
	}
  }
  