.tastes{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #493b5f;
}
.tastes__text{
    text-align: center;
    color: white;
}
.text__title{
    font-family: Leckerli One;
    font-size: 21px;
}
.text__sub-title{
    font-size: 48px;
    margin: 10px 0 10px 0;
    font-weight: bold;
    font-family: Dangrek;
}
.text__we-have{
    color: #e1dde8;
    font-size: 20px;
    font-family: Source Sans 3;
}
.tastes__cards{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.card__ice-cream{
    width: 263px;
    height: 365px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #32264b;
    border-radius: 10px;
}
.ice-cream__img{
    width: 203px;
    height: 157px;
}
.ice-cream__name{
    font-family: Dangrek;
    font-size: 26px;
    color: white;
}
.ice-cream__description{
    font-family: Source Sans 3;
    font-size: 18px;
    font-style: italic;
    color: #a6a6a6;
}
.ice-cream__price{
    font-family: Source Sans 3;
    font-size: 21px;
    color: #b9b1c5;
}
.price__numbers{
    color: #ffc452;
}
.cards__button-arrow{

}
.button-arrow__button{
    background: none;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 40px;
    color: #a6a6a6;
}
.tastes__button{
    margin-top: 50px;
    width: 150px;
    height: 50px;
    background-color: #ffc452;
    border-radius: 27px;  
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-family: Source Sans Pro;
    color: white;
}
